.cover {
    margin: 92px auto;
    max-width: 1184px;
    min-height: 740px;
    background-size: cover;
    position: relative;
    background-image: url('../../images/cover-trains.jpg');
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin: 0 auto 88px;
        min-height: 480px;
        max-width: 768px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover {
        margin: 0 auto 64px;
        max-width: 320px;
        min-height: 200px;
    }
}